{:highlights [{:id #uuid "665f2dbf-926f-498e-bd88-9fda099fc8ed",
               :page 68,
               :position {:bounding {:x1 141.71875,
                                     :y1 100.03125,
                                     :x2 528.301513671875,
                                     :y2 147.03125,
                                     :width 793.6999999999999,
                                     :height 1133.8583333333333},
                          :rects ({:x1 141.71875,
                                   :y1 100.03125,
                                   :x2 528.301513671875,
                                   :y2 147.03125,
                                   :width 793.6999999999999,
                                   :height 1133.8583333333333}),
                          :page 68},
               :content {:text "Necrotizing Fasciitis"},
               :properties {:color "yellow"}}
              {:id #uuid "665f2e67-7c76-403b-a4ad-b427f0a29055",
               :page 69,
               :position {:bounding {:x1 118.109375,
                                     :y1 345.5,
                                     :x2 708.29931640625,
                                     :y2 384.5,
                                     :width 793.6999999999999,
                                     :height 1133.8583333333333},
                          :rects ({:x1 298.7657165527344,
                                   :y1 345.5,
                                   :x2 708.29931640625,
                                   :y2 364.5,
                                   :width 793.6999999999999,
                                   :height 1133.8583333333333}
                                  {:x1 118.109375,
                                   :y1 365.5,
                                   :x2 557.5731201171875,
                                   :y2 384.5,
                                   :width 793.6999999999999,
                                   :height 1133.8583333333333}),
                          :page 69},
               :content {:text "The pillar of the treatment is early surgical debridement backed up by empirical broad-spectrum antibiotic therapy"},
               :properties {:color "yellow"}}
              {:id #uuid "665f2e88-2b72-46b6-94da-95b1be9ad10c",
               :page 69,
               :position {:bounding {:x1 118.109375,
                                     :y1 445.5,
                                     :x2 708.6505737304688,
                                     :y2 484.5,
                                     :width 793.6999999999999,
                                     :height 1133.8583333333333},
                          :rects ({:x1 141.71875,
                                   :y1 445.5,
                                   :x2 708.6505737304688,
                                   :y2 464.5,
                                   :width 793.6999999999999,
                                   :height 1133.8583333333333}
                                  {:x1 118.109375,
                                   :y1 465.5,
                                   :x2 147.81829833984375,
                                   :y2 484.5,
                                   :width 793.6999999999999,
                                   :height 1133.8583333333333}),
                          :page 69},
               :content {:text "Necrotizing infections can be divided into three groups according to the affected area"},
               :properties {:color "red"}}
              {:id #uuid "665f2e8b-32ea-4763-94cd-07879ce93b3e",
               :page 69,
               :position {:bounding {:x1 157.22470092773438,
                                     :y1 465.5,
                                     :x2 218.68447875976562,
                                     :y2 484.5,
                                     :width 793.6999999999999,
                                     :height 1133.8583333333333},
                          :rects ({:x1 157.22470092773438,
                                   :y1 465.5,
                                   :x2 218.68447875976562,
                                   :y2 484.5,
                                   :width 793.6999999999999,
                                   :height 1133.8583333333333}),
                          :page 69},
               :content {:text "cellulitis"},
               :properties {:color "yellow"}}
              {:id #uuid "665f2e8d-e12e-4b5f-948e-89ff93acf932",
               :page 69,
               :position {:bounding {:x1 428.253662109375,
                                     :y1 465.5,
                                     :x2 483.7716064453125,
                                     :y2 484.5,
                                     :width 793.6999999999999,
                                     :height 1133.8583333333333},
                          :rects ({:x1 428.253662109375,
                                   :y1 465.5,
                                   :x2 483.7716064453125,
                                   :y2 484.5,
                                   :width 793.6999999999999,
                                   :height 1133.8583333333333}),
                          :page 69},
               :content {:text "fasciitis"},
               :properties {:color "yellow"}}
              {:id #uuid "665f2e8f-acab-406e-8cd1-1be0c3f69a50",
               :page 69,
               :position {:bounding {:x1 234.30935668945312,
                                     :y1 505.5,
                                     :x2 298.1158142089844,
                                     :y2 524.5,
                                     :width 793.6999999999999,
                                     :height 1133.8583333333333},
                          :rects ({:x1 234.30935668945312,
                                   :y1 505.5,
                                   :x2 298.1158142089844,
                                   :y2 524.5,
                                   :width 793.6999999999999,
                                   :height 1133.8583333333333}),
                          :page 69},
               :content {:text "myosotis"},
               :properties {:color "yellow"}}
              {:id #uuid "665f2eab-31f2-4c35-9292-c322ee638782",
               :page 69,
               :position {:bounding {:x1 118.109375,
                                     :y1 505.5,
                                     :x2 708.65625,
                                     :y2 544.5,
                                     :width 793.6999999999999,
                                     :height 1133.8583333333333},
                          :rects ({:x1 540.0238037109375,
                                   :y1 505.5,
                                   :x2 708.65625,
                                   :y2 524.5,
                                   :width 793.6999999999999,
                                   :height 1133.8583333333333}
                                  {:x1 118.109375,
                                   :y1 525.5,
                                   :x2 459.05279541015625,
                                   :y2 544.5,
                                   :width 793.6999999999999,
                                   :height 1133.8583333333333}),
                          :page 69},
               :content {:text "They can also be classified according to the bacteria causing the disease."},
               :properties {:color "red"}}
              {:id #uuid "665f2eb6-64d4-4ca9-9c03-6b721d54c6aa",
               :page 69,
               :position {:bounding {:x1 118.109375,
                                     :y1 525.5,
                                     :x2 708.65625,
                                     :y2 564.5,
                                     :width 793.6999999999999,
                                     :height 1133.8583333333333},
                          :rects ({:x1 463.0213623046875,
                                   :y1 525.5,
                                   :x2 708.65625,
                                   :y2 544.5,
                                   :width 793.6999999999999,
                                   :height 1133.8583333333333}
                                  {:x1 118.109375,
                                   :y1 545.5,
                                   :x2 366.77960205078125,
                                   :y2 564.5,
                                   :width 793.6999999999999,
                                   :height 1133.8583333333333}),
                          :page 69},
               :content {:text "The three entities can have a monomicrobial or polymicrobial cause"},
               :properties {:color "yellow"}}
              {:id #uuid "665f2eba-b054-43d0-aa65-aa89d7d142cf",
               :page 69,
               :position {:bounding {:x1 418.84375,
                                     :y1 545.5,
                                     :x2 585.322998046875,
                                     :y2 564.5,
                                     :width 793.6999999999999,
                                     :height 1133.8583333333333},
                          :rects ({:x1 418.84375,
                                   :y1 545.5,
                                   :x2 585.322998046875,
                                   :y2 564.5,
                                   :width 793.6999999999999,
                                   :height 1133.8583333333333}),
                          :page 69},
               :content {:text "Streptococcus pyogenes"},
               :properties {:color "red"}}
              {:id #uuid "665f2ec3-563c-4a08-91de-e0520ea4d4f9",
               :page 69,
               :position {:bounding {:x1 118.109375,
                                     :y1 545.5,
                                     :x2 708.6473388671875,
                                     :y2 584.5,
                                     :width 793.6999999999999,
                                     :height 1133.8583333333333},
                          :rects ({:x1 642.4537353515625,
                                   :y1 545.5,
                                   :x2 708.6473388671875,
                                   :y2 564.5,
                                   :width 793.6999999999999,
                                   :height 1133.8583333333333}
                                  {:x1 118.109375,
                                   :y1 565.5,
                                   :x2 606.70751953125,
                                   :y2 584.5,
                                   :width 793.6999999999999,
                                   :height 1133.8583333333333}),
                          :page 69},
               :content {:text "the most frequent bacteria isolated in the case of monomicrobial involvement"},
               :properties {:color "yellow"}}
              {:id #uuid "665f2ecc-2f1d-42eb-a5a8-cbc80140f701",
               :page 69,
               :position {:bounding {:x1 118.109375,
                                     :y1 585.5,
                                     :x2 708.718017578125,
                                     :y2 624.5,
                                     :width 793.6999999999999,
                                     :height 1133.8583333333333},
                          :rects ({:x1 446.0587158203125,
                                   :y1 585.5,
                                   :x2 708.718017578125,
                                   :y2 604.5,
                                   :width 793.6999999999999,
                                   :height 1133.8583333333333}
                                  {:x1 118.109375,
                                   :y1 605.5,
                                   :x2 160.29547119140625,
                                   :y2 624.5,
                                   :width 793.6999999999999,
                                   :height 1133.8583333333333}),
                          :page 69},
               :content {:text " the presence or absence of an entry point."},
               :properties {:color "red"}}],
 :extra {:page 69}}
