{:highlights [{:id #uuid "66683016-0791-424c-9658-c686baa31deb",
               :page 2,
               :position {:bounding {:x1 511.5,
                                     :y1 1017.296875,
                                     :x2 930.304931640625,
                                     :y2 1052.375,
                                     :width 992.0749999999999,
                                     :height 1323.1999999999998},
                          :rects ({:x1 842.15625,
                                   :y1 1017.296875,
                                   :x2 930.304931640625,
                                   :y2 1033.296875,
                                   :width 992.0749999999999,
                                   :height 1323.1999999999998}
                                  {:x1 511.5,
                                   :y1 1036.375,
                                   :x2 685.671875,
                                   :y2 1052.375,
                                   :width 992.0749999999999,
                                   :height 1323.1999999999998}),
                          :page 2},
               :content {:text "The signs requiring ICU management "},
               :properties {:color "yellow"}}
              {:id #uuid "666830a2-1dac-4f12-9055-03c9c59851c2",
               :page 2,
               :position {:bounding {:x1 511.5,
                                     :y1 1112.765625,
                                     :x2 930.2703857421875,
                                     :y2 1147.859375,
                                     :width 992.0749999999999,
                                     :height 1323.1999999999998},
                          :rects ({:x1 639.53125,
                                   :y1 1112.765625,
                                   :x2 930.2703857421875,
                                   :y2 1128.765625,
                                   :width 992.0749999999999,
                                   :height 1323.1999999999998}
                                  {:x1 511.5,
                                   :y1 1131.859375,
                                   :x2 572.8072509765625,
                                   :y2 1147.859375,
                                   :width 992.0749999999999,
                                   :height 1323.1999999999998}),
                          :page 2},
               :content {:text "10–15 days after a bite by an infected mosquito"},
               :properties {:color "yellow"}}
              {:id #uuid "666830aa-fc8b-4725-836a-85d33160da3e",
               :page 2,
               :position {:bounding {:x1 581.625,
                                     :y1 1131.859375,
                                     :x2 791.515625,
                                     :y2 1147.859375,
                                     :width 992.0749999999999,
                                     :height 1323.1999999999998},
                          :rects ({:x1 581.625,
                                   :y1 1131.859375,
                                   :x2 791.515625,
                                   :y2 1147.859375,
                                   :width 992.0749999999999,
                                   :height 1323.1999999999998}),
                          :page 2},
               :content {:text "acute febrile disease symptoms "},
               :properties {:color "red"}}
              {:id #uuid "666830ca-a902-4bf6-94f5-65fec4bc50be",
               :page 3,
               :position {:bounding {:x1 63.171875,
                                     :y1 131.4375,
                                     :x2 482.0804443359375,
                                     :y2 185.640625,
                                     :width 992.0749999999999,
                                     :height 1323.1999999999998},
                          :rects ({:x1 110.3125,
                                   :y1 131.4375,
                                   :x2 482.0804443359375,
                                   :y2 147.4375,
                                   :width 992.0749999999999,
                                   :height 1323.1999999999998}
                                  {:x1 63.171875,
                                   :y1 150.546875,
                                   :x2 482.05352783203125,
                                   :y2 166.546875,
                                   :width 992.0749999999999,
                                   :height 1323.1999999999998}
                                  {:x1 63.171875,
                                   :y1 169.640625,
                                   :x2 194.79071044921875,
                                   :y2 185.640625,
                                   :width 992.0749999999999,
                                   :height 1323.1999999999998}),
                          :page 3},
               :content {:text "headaches in malaria may be severe but are not associated with the neck stiﬀness or photophobia that are common in bacterial meningitis"},
               :properties {:color "yellow"}}
              {:id #uuid "66683224-3aa6-4b07-89bd-649723b03e0a",
               :page 3,
               :position {:bounding {:x1 73.140625,
                                     :y1 1006.328125,
                                     :x2 144.09756469726562,
                                     :y2 1031.609375,
                                     :width 992.0749999999999,
                                     :height 1323.1999999999998},
                          :rects ({:x1 73.140625,
                                   :y1 1006.328125,
                                   :x2 144.09756469726562,
                                   :y2 1017.328125,
                                   :width 992.0749999999999,
                                   :height 1323.1999999999998}
                                  {:x1 73.140625,
                                   :y1 1020.609375,
                                   :x2 108.9710693359375,
                                   :y2 1031.609375,
                                   :width 992.0749999999999,
                                   :height 1323.1999999999998}),
                          :page 3},
               :content {:text "Uncomplicated malaria"},
               :properties {:color "yellow"}}
              {:id #uuid "666832e4-7dff-4c8a-8ae5-29b38057c7d8",
               :page 4,
               :position {:bounding {:x1 469,
                                     :y1 139,
                                     :x2 700,
                                     :y2 424,
                                     :width 992.0749999999999,
                                     :height 1323.1999999999998},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1718104802901},
               :properties {:color "yellow"}}
              {:id #uuid "666833e9-4dfa-4111-b5ea-2d82b248be80",
               :page 6,
               :position {:bounding {:x1 503.203125,
                                     :y1 451.09375,
                                     :x2 915.1956176757812,
                                     :y2 523.453125,
                                     :width 976.0000000000001,
                                     :height 1301.7596451881159},
                          :rects ({:x1 827.484375,
                                   :y1 451.09375,
                                   :x2 915.136962890625,
                                   :y2 467.09375,
                                   :width 976.0000000000001,
                                   :height 1301.7596451881159}
                                  {:x1 503.203125,
                                   :y1 469.875,
                                   :x2 915.16650390625,
                                   :y2 485.875,
                                   :width 976.0000000000001,
                                   :height 1301.7596451881159}
                                  {:x1 503.203125,
                                   :y1 488.65625,
                                   :x2 915.1956176757812,
                                   :y2 504.65625,
                                   :width 976.0000000000001,
                                   :height 1301.7596451881159}
                                  {:x1 503.203125,
                                   :y1 507.453125,
                                   :x2 568.28125,
                                   :y2 523.453125,
                                   :width 976.0000000000001,
                                   :height 1301.7596451881159}),
                          :page 6},
               :content {:text "speciﬁc antimalarial treatment and supportive care provided to address physiologic dysfunction resulting from the presence of malaria parasites. "},
               :properties {:color "yellow"}}
              {:id #uuid "66683407-33cb-4ce8-8ea8-de0d8f0cbb63",
               :page 6,
               :position {:bounding {:x1 503.203125,
                                     :y1 810.453125,
                                     :x2 915.21142578125,
                                     :y2 864.046875,
                                     :width 976.0000000000001,
                                     :height 1301.7596451881159},
                          :rects ({:x1 789.4375,
                                   :y1 810.453125,
                                   :x2 915.21142578125,
                                   :y2 826.453125,
                                   :width 976.0000000000001,
                                   :height 1301.7596451881159}
                                  {:x1 503.203125,
                                   :y1 829.25,
                                   :x2 915.1361083984375,
                                   :y2 845.25,
                                   :width 976.0000000000001,
                                   :height 1301.7596451881159}
                                  {:x1 503.203125,
                                   :y1 848.046875,
                                   :x2 684.1222534179688,
                                   :y2 864.046875,
                                   :width 976.0000000000001,
                                   :height 1301.7596451881159}),
                          :page 6},
               :content {:text "The current recommendation is individualized conservative ﬂuid management for patients with severe malaria"},
               :properties {:color "yellow"}}
              {:id #uuid "6668345a-b77a-408c-b04a-b39f7f9aebf4",
               :page 7,
               :position {:bounding {:x1 62.15625,
                                     :y1 587.5,
                                     :x2 474.07733154296875,
                                     :y2 622.296875,
                                     :width 976.0000000000001,
                                     :height 1301.7596451881159},
                          :rects ({:x1 81.75,
                                   :y1 587.5,
                                   :x2 474.07733154296875,
                                   :y2 603.5,
                                   :width 976.0000000000001,
                                   :height 1301.7596451881159}
                                  {:x1 62.15625,
                                   :y1 606.296875,
                                   :x2 320.65625,
                                   :y2 622.296875,
                                   :width 976.0000000000001,
                                   :height 1301.7596451881159}),
                          :page 7},
               :content {:text "Severe malaria requires prompt parenteral antimalarial treatment once a diagnosis has been made. "},
               :properties {:color "yellow"}}
              {:id #uuid "6668348b-ea70-430f-b529-399d4d2ad79d",
               :page 7,
               :position {:bounding {:x1 81.75,
                                     :y1 869.296875,
                                     :x2 151.86770629882812,
                                     :y2 885.296875,
                                     :width 976.0000000000001,
                                     :height 1301.7596451881159},
                          :rects ({:x1 81.75,
                                   :y1 869.296875,
                                   :x2 151.86770629882812,
                                   :y2 885.296875,
                                   :width 976.0000000000001,
                                   :height 1301.7596451881159}),
                          :page 7},
               :content {:text "Artesunate"},
               :properties {:color "red"}}
              {:id #uuid "66683512-9c28-4367-bac1-796145e489e3",
               :page 5,
               :position {:bounding {:x1 62.15625,
                                     :y1 107.609375,
                                     :x2 319.3134460449219,
                                     :y2 120.609375,
                                     :width 976.0000000000001,
                                     :height 1301.7596451881159},
                          :rects ({:x1 62.15625,
                                   :y1 107.609375,
                                   :x2 319.3134460449219,
                                   :y2 120.609375,
                                   :width 976.0000000000001,
                                   :height 1301.7596451881159}),
                          :page 5},
               :content {:text "Summary of treatment options for severe malaria"},
               :properties {:color "yellow"}}
              {:id #uuid "66683536-3d5e-4b3f-b447-72f8b5c12d58",
               :page 5,
               :position {:bounding {:x1 65,
                                     :y1 167,
                                     :x2 685,
                                     :y2 273,
                                     :width 976.0000000000001,
                                     :height 1301.7596451881159},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1718105395469},
               :properties {:color "yellow"}}
              {:id #uuid "6668364b-def5-4f85-819b-76e2d321b80d",
               :page 5,
               :position {:bounding {:x1 503.203125,
                                     :y1 994.25,
                                     :x2 915.2738647460938,
                                     :y2 1047.8125,
                                     :width 976.0000000000001,
                                     :height 1301.7596451881159},
                          :rects ({:x1 522.8125,
                                   :y1 994.25,
                                   :x2 915.2738647460938,
                                   :y2 1010.25,
                                   :width 976.0000000000001,
                                   :height 1301.7596451881159}
                                  {:x1 503.203125,
                                   :y1 1013.046875,
                                   :x2 915.191162109375,
                                   :y2 1029.046875,
                                   :width 976.0000000000001,
                                   :height 1301.7596451881159}
                                  {:x1 503.203125,
                                   :y1 1031.8125,
                                   :x2 555.04736328125,
                                   :y2 1047.8125,
                                   :width 976.0000000000001,
                                   :height 1301.7596451881159}),
                          :page 5},
               :content {:text "Oral and parenteral forms of quinine as sulfate and dihydrochloride salts, respectively, are commonly used in clinical practice"},
               :properties {:color "yellow"}}],
 :extra {:page 5}}
